.background {
  min-height: 100vh;
}

.faqContainer {
  max-width: 1440px;
  margin: 0 auto;
  width: 65%;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.faqTitle {
  font-size: 3.5rem;
  margin: 1rem 0;
}

.faqBox {
  margin-top: 20px;
  max-width: 900px;
}
